body{
    background-color:black;
 color:grey;
 font-size:21px;
}
h1
  {
  display: flex;
justify-content: center;

}
.Mariam{ font-size:60px;
display:flex;
justify-content:flex-end;
color:grey;}
ul{
    font-size:18px;}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
   h1{
       font-family: 'Roboto Condensed', sans-serif;
   }
   img{
       width:100px;
   }
   